$breakpoint-mobile: 420px;


$color-green-dark: #55910b;
$color-orange: #FFB236;
$color-blue: #08203B;
$color-light-blue: #58A5E8;
$color-green: #25D350;
$color-pink: #EC4157;
$color-white: #FFFFFF;
$color-white-smoke: #F3F6F8;
$color-menu-text: #ACADB1;
$color-text: #595961;
$color-line: #e4e4e4;
$color-base: #031326;
$color-grey: #F8F8F8;
$color-grey-medium: #cccccc;
$color-grey-dark: #999999;
$color-lighter: #78797B;
$color-grey-light: #EFEFEF;
$color-red: #B11E32;
$color-text: #595961;
$color-black: #000000;
$color-pale-blue: #CCDCF5;
$color-table-hover:#F3F6F8;
$border-radius-button: 20px;
$form-input-height: 2.55rem;

$color-pledge-highlight: $color-grey-light;
