button {
    width: 100%;
    border-radius: .2rem;
    box-shadow: none;
    height: 2.55rem;
    margin-top: 0em;
    font-size: 1.15rem;
    border: 1px solid transparent;

    color: $color-white;
    background-color: $color-blue;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;

    img {
        height: 100%;
        vertical-align: middle;
        margin-right: 1rem;
    }
    &.cta {
        background-color: $color-pink;
        border: none;

        &:hover{
            box-shadow: none;
            background-color: $color-red;
        }
        &[disabled] {
            @include filter(brightness(70%));
        }
    }

    &.tiny {
        font-size: 0.8rem;
        height: 1.75rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    &.small {
      width: 8rem;
    }

    &.medium {
      width: 12rem;
    }

    &.clear {
        background-color: transparent;
        border: 1px solid $color-menu-text;
        color: $color-menu-text;
        &:hover {
            background-color: $color-menu-text;
            color: black;
        }
    }


    &.basic {
        border: 1px solid $color-text;
        color: $color-text;
        background-color: transparent;
        &:hover{
            color:$color-white;
            background-color: $color-blue;
        }
    }
}
